<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons :: head}">
    <title>Pathfinder</title>
</head>

<body>

<div class="wrapper">

    <!-- Navigation -->
    <header th:replace="~{fragments/commons :: header}"></header>

    <section class="road" th:each="route : ${pedestrianRoutes}">
        <div>
            <h2 th:text="${route.getName()}">Title</h2>
            <p th:text="${route.getDescription()}">Very long description</p>
            <a th:href="@{'/routes/details/' + ${route.getId()}}" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" th:src="${route.getPictureUrl()}" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->

<footer th:replace="~{fragments/commons :: footer}"></footer>

</body>

</html>